commit c05dc65c4f4956d9e7043dc3322804cce6d54749
Author: Claude <noreply@anthropic.com>
Date:   Thu Jul 2 07:24:10 2026 +0000

    fix: complete cg calendar teams seed events
    
    Adds all 30 one-off screenshot-derived events as active idempotent
    INSERTs to supabase/phase-10b-cg-calendar-teams-seed-2026.sql,
    alongside the existing 27 Monday CG Internal meeting series.
    Total: 57 seed events. SQL not applied live.
    
    Updates docs/cg-dynamics-outstanding-audit.md calendar seed entry
    to reflect the corrected counts (27 Monday + 30 one-off = 57 total).
    
    Co-Authored-By: Claude <noreply@anthropic.com>

diff --git a/supabase/phase-10b-cg-calendar-teams-seed-2026.sql b/supabase/phase-10b-cg-calendar-teams-seed-2026.sql
index a0cf55b..fce739c 100644
--- a/supabase/phase-10b-cg-calendar-teams-seed-2026.sql
+++ b/supabase/phase-10b-cg-calendar-teams-seed-2026.sql
@@ -348,40 +348,380 @@ where not exists (
 );
 
 
--- ÔöÇÔöÇ One-off events (screenshot-derived) ÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇ
--- REVIEW REQUIRED before enabling.
--- The events below were derived from a screenshot of the 2026 H2 calendar.
--- Uncomment and adjust dates/titles after confirming against the actual screenshot.
--- Idempotency: same NOT EXISTS pattern as above.
---
--- Example format (replace with real screenshot events):
---
--- insert into public.company_calendar_events (title, event_type, start_at, end_at, all_day, status, notes)
--- select 'CG TEAM STRATEGY SESSION', 'meeting',
---        '2026-08-03 07:00:00+00'::timestamptz,
---        '2026-08-03 10:00:00+00'::timestamptz,
---        false, 'planned',
---        'Screenshot-derived: half-year strategy session. Review date before applying.'
--- where not exists (
---   select 1 from public.company_calendar_events
---   where title = 'CG TEAM STRATEGY SESSION' and start_at = '2026-08-03 07:00:00+00'::timestamptz
--- );
---
--- insert into public.company_calendar_events (title, event_type, start_at, end_at, all_day, status, notes)
--- select 'CLIENT SHOOT DAY', 'shoot',
---        '2026-09-15 05:00:00+00'::timestamptz,
---        '2026-09-15 12:00:00+00'::timestamptz,
---        false, 'planned',
---        'Screenshot-derived: full-day client shoot. Confirm client and location before applying.'
--- where not exists (
---   select 1 from public.company_calendar_events
---   where title = 'CLIENT SHOOT DAY' and start_at = '2026-09-15 05:00:00+00'::timestamptz
--- );
+-- ÔöÇÔöÇ One-off events (screenshot-derived from Teams Calendar) ÔöÇÔöÇÔöÇÔöÇÔöÇ
+-- All times SAST (UTC+2). Stored as UTC (timestamptz).
+-- Source: Teams Calendar screenshot. Verify time/duration before applying.
+-- Idempotency: WHERE NOT EXISTS (title, start_at). Safe to re-run.
+-- client_id deliberately omitted ÔÇö do not guess UUIDs.
+
+-- 2026-06-29 10:00 SAST (08:00 UTC) ÔÇö CONTENT RUN - LORACLOX (1h)
+-- Note: 2026-06-29 Monday CG Internal meeting already seeded above; this is a different event.
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - LORACLOX', 'content_run', 'LORACLOX', 'TBC',
+       '2026-06-29 08:00:00+00'::timestamptz,
+       '2026-06-29 09:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - LORACLOX' and start_at = '2026-06-29 08:00:00+00'::timestamptz
+);
+
+-- 2026-06-30 09:30 SAST (07:30 UTC) ÔÇö CASE - ONCE OFF (1h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CASE - ONCE OFF', 'client_event', 'CASE', 'CASE',
+       '2026-06-30 07:30:00+00'::timestamptz,
+       '2026-06-30 08:30:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CASE - ONCE OFF' and start_at = '2026-06-30 07:30:00+00'::timestamptz
+);
+
+-- 2026-06-30 12:00 SAST (10:00 UTC) ÔÇö MEETING - JACO SMITH (1h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'MEETING - JACO SMITH', 'meeting', 'JAC SMITH FUNERALS', 'JAC SMITH FUNERALS',
+       '2026-06-30 10:00:00+00'::timestamptz,
+       '2026-06-30 11:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'MEETING - JACO SMITH' and start_at = '2026-06-30 10:00:00+00'::timestamptz
+);
+
+-- 2026-07-01 11:30 SAST (09:30 UTC) ÔÇö CONTENT RUN - MADISONS (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - MADISONS', 'content_run', 'MADISONS', 'Microsoft Teams Meeting',
+       '2026-07-01 09:30:00+00'::timestamptz,
+       '2026-07-01 11:30:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - MADISONS' and start_at = '2026-07-01 09:30:00+00'::timestamptz
+);
+
+-- 2026-07-02 08:00 SAST (06:00 UTC) ÔÇö RED OAK - CONTENT RUN (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'RED OAK - CONTENT RUN', 'content_run', 'RED OAK', 'RED OAK',
+       '2026-07-02 06:00:00+00'::timestamptz,
+       '2026-07-02 08:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'RED OAK - CONTENT RUN' and start_at = '2026-07-02 06:00:00+00'::timestamptz
+);
+
+-- 2026-07-02 11:00 SAST (09:00 UTC) ÔÇö CONTENT RUN - FIRST TECH (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - FIRST TECH', 'content_run', 'FIRST TECH', 'FIRST TECH',
+       '2026-07-02 09:00:00+00'::timestamptz,
+       '2026-07-02 11:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - FIRST TECH' and start_at = '2026-07-02 09:00:00+00'::timestamptz
+);
+
+-- 2026-07-03 09:00 SAST (07:00 UTC) ÔÇö CONTENT RUN - SECURIFORCE (4h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - SECURIFORCE', 'content_run', 'SECURIFORCE', 'TBC',
+       '2026-07-03 07:00:00+00'::timestamptz,
+       '2026-07-03 11:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - SECURIFORCE' and start_at = '2026-07-03 07:00:00+00'::timestamptz
+);
+
+-- 2026-07-03 13:00 SAST (11:00 UTC) ÔÇö CONTENT RUN - ECONOFOODS (1h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - ECONOFOODS', 'content_run', 'ECONOFOODS', 'ECONOFOODS',
+       '2026-07-03 11:00:00+00'::timestamptz,
+       '2026-07-03 12:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - ECONOFOODS' and start_at = '2026-07-03 11:00:00+00'::timestamptz
+);
+
+-- 2026-07-03 15:00 SAST (13:00 UTC) ÔÇö MEETING - STAFF VRYFEES (1h)
+insert into public.company_calendar_events (title, event_type, location, start_at, end_at, all_day, status, notes)
+select 'MEETING - STAFF VRYFEES', 'meeting', 'Microsoft Teams Meeting',
+       '2026-07-03 13:00:00+00'::timestamptz,
+       '2026-07-03 14:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'MEETING - STAFF VRYFEES' and start_at = '2026-07-03 13:00:00+00'::timestamptz
+);
+
+-- 2026-07-04 17:00 SAST (15:00 UTC) ÔÇö CONTENT RUN - STAFFY (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - STAFFY', 'content_run', 'STAFFY', 'STAFFY',
+       '2026-07-04 15:00:00+00'::timestamptz,
+       '2026-07-04 17:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - STAFFY' and start_at = '2026-07-04 15:00:00+00'::timestamptz
+);
+
+-- 2026-07-06 10:00 SAST (08:00 UTC) ÔÇö MEETING - CHENIQUE (1h)
+-- Note: 2026-07-06 Monday CG Internal meeting already seeded above (07:00 UTC); this is a different event.
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'MEETING - CHENIQUE', 'meeting', 'CHENIQUE', 'CHENIQUE',
+       '2026-07-06 08:00:00+00'::timestamptz,
+       '2026-07-06 09:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'MEETING - CHENIQUE' and start_at = '2026-07-06 08:00:00+00'::timestamptz
+);
+
+-- 2026-07-06 11:00 SAST (09:00 UTC) ÔÇö MEETING - BOUWER & COETZEE (1h)
+insert into public.company_calendar_events (title, event_type, location, start_at, end_at, all_day, status, notes)
+select 'MEETING - BOUWER & COETZEE', 'meeting', 'IN STUDIO',
+       '2026-07-06 09:00:00+00'::timestamptz,
+       '2026-07-06 10:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'MEETING - BOUWER & COETZEE' and start_at = '2026-07-06 09:00:00+00'::timestamptz
+);
+
+-- 2026-07-07 09:00 SAST (07:00 UTC) ÔÇö VRYFEES / UFS (10h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'VRYFEES', 'client_event', 'UFS', 'UFS',
+       '2026-07-07 07:00:00+00'::timestamptz,
+       '2026-07-07 17:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. UFS Vryfees event. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'VRYFEES' and start_at = '2026-07-07 07:00:00+00'::timestamptz
+);
+
+-- 2026-07-08 08:00 SAST (06:00 UTC) ÔÇö VRYFEES / UFS (8h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'VRYFEES', 'client_event', 'UFS', 'UFS',
+       '2026-07-08 06:00:00+00'::timestamptz,
+       '2026-07-08 14:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. UFS Vryfees event. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'VRYFEES' and start_at = '2026-07-08 06:00:00+00'::timestamptz
+);
+
+-- 2026-07-09 09:00 SAST (07:00 UTC) ÔÇö UFS - VRYFEES (8h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'UFS - VRYFEES', 'client_event', 'UFS', 'UFS',
+       '2026-07-09 07:00:00+00'::timestamptz,
+       '2026-07-09 15:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. UFS Vryfees event. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'UFS - VRYFEES' and start_at = '2026-07-09 07:00:00+00'::timestamptz
+);
+
+-- 2026-07-09 18:00 SAST (16:00 UTC) ÔÇö BSN - MEETING (1h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'BSN - MEETING', 'meeting', 'BSN', 'KAI RESTAURANT',
+       '2026-07-09 16:00:00+00'::timestamptz,
+       '2026-07-09 17:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'BSN - MEETING' and start_at = '2026-07-09 16:00:00+00'::timestamptz
+);
+
+-- 2026-07-10 08:00 SAST (06:00 UTC) ÔÇö VRYFEES / UFS (8h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'VRYFEES', 'client_event', 'UFS', 'UFS',
+       '2026-07-10 06:00:00+00'::timestamptz,
+       '2026-07-10 14:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. UFS Vryfees event. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'VRYFEES' and start_at = '2026-07-10 06:00:00+00'::timestamptz
+);
+
+-- 2026-07-11 08:00 SAST (06:00 UTC) ÔÇö VRYFEES / UFS (10h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'VRYFEES', 'client_event', 'UFS', 'UFS',
+       '2026-07-11 06:00:00+00'::timestamptz,
+       '2026-07-11 16:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. UFS Vryfees event. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'VRYFEES' and start_at = '2026-07-11 06:00:00+00'::timestamptz
+);
+
+-- 2026-07-13 09:00 SAST (07:00 UTC) ÔÇö PEYPER BONDS - CONTENT RUN (2h)
+-- Note: 2026-07-13 Monday CG Internal meeting already seeded above (07:00 UTC);
+-- the content run starts at the same UTC time but has a different title ÔÇö unique by (title, start_at).
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'PEYPER BONDS - CONTENT RUN', 'content_run', 'PEYPER BONDS', 'PEYPER BONDS',
+       '2026-07-13 07:00:00+00'::timestamptz,
+       '2026-07-13 09:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'PEYPER BONDS - CONTENT RUN' and start_at = '2026-07-13 07:00:00+00'::timestamptz
+);
+
+-- 2026-07-14 08:00 SAST (06:00 UTC) ÔÇö CONTENT RUN - WE AR FUELS (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - WE AR FUELS', 'content_run', 'WE AR FUELS', 'HERTZOGVILLE',
+       '2026-07-14 06:00:00+00'::timestamptz,
+       '2026-07-14 08:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - WE AR FUELS' and start_at = '2026-07-14 06:00:00+00'::timestamptz
+);
+
+-- 2026-07-18 09:00 SAST (07:00 UTC) ÔÇö EVENT - PSG (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'EVENT - PSG', 'client_event', 'PSG', 'NASORG CENTRUM',
+       '2026-07-18 07:00:00+00'::timestamptz,
+       '2026-07-18 09:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'EVENT - PSG' and start_at = '2026-07-18 07:00:00+00'::timestamptz
+);
+
+-- 2026-07-21 19:00 SAST (17:00 UTC) ÔÇö CONTENT RUN - STAFFY (1h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'CONTENT RUN - STAFFY', 'content_run', 'STAFFY', 'STAFFY',
+       '2026-07-21 17:00:00+00'::timestamptz,
+       '2026-07-21 18:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CONTENT RUN - STAFFY' and start_at = '2026-07-21 17:00:00+00'::timestamptz
+);
+
+-- 2026-07-23 16:00 SAST (14:00 UTC) ÔÇö CAPTAINS CUP - REGISTRATION (1h)
+insert into public.company_calendar_events (title, event_type, location, start_at, end_at, all_day, status, notes)
+select 'CAPTAINS CUP - REGISTRATION', 'client_event', 'BLOEM BAAN',
+       '2026-07-23 14:00:00+00'::timestamptz,
+       '2026-07-23 15:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CAPTAINS CUP - REGISTRATION' and start_at = '2026-07-23 14:00:00+00'::timestamptz
+);
+
+-- 2026-07-24 09:00 SAST (07:00 UTC) ÔÇö CAPTAINS CUP (2h)
+insert into public.company_calendar_events (title, event_type, location, start_at, end_at, all_day, status, notes)
+select 'CAPTAINS CUP', 'client_event', 'BLOEM BAAN',
+       '2026-07-24 07:00:00+00'::timestamptz,
+       '2026-07-24 09:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CAPTAINS CUP' and start_at = '2026-07-24 07:00:00+00'::timestamptz
+);
+
+-- 2026-07-25 09:00 SAST (07:00 UTC) ÔÇö CAPTAINS CUP (2h)
+insert into public.company_calendar_events (title, event_type, location, start_at, end_at, all_day, status, notes)
+select 'CAPTAINS CUP', 'client_event', 'BLOEM BAAN',
+       '2026-07-25 07:00:00+00'::timestamptz,
+       '2026-07-25 09:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'CAPTAINS CUP' and start_at = '2026-07-25 07:00:00+00'::timestamptz
+);
+
+-- 2026-09-01 08:00 SAST (06:00 UTC) ÔÇö ECONOFOODS - GOLF DAY / CAPE TOWN (7h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'ECONOFOODS - GOLF DAY / CAPE TOWN', 'client_event', 'ECONOFOODS', 'DURBANVILLE',
+       '2026-09-01 06:00:00+00'::timestamptz,
+       '2026-09-01 13:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'ECONOFOODS - GOLF DAY / CAPE TOWN' and start_at = '2026-09-01 06:00:00+00'::timestamptz
+);
+
+-- 2026-09-02 14:00 SAST (12:00 UTC) ÔÇö 30TH BIRTHDAY GALA - ECONOFOODS (2h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select '30TH BIRTHDAY GALA - ECONOFOODS', 'client_event', 'ECONOFOODS', 'CAPE TOWN / DURBANVILLE',
+       '2026-09-02 12:00:00+00'::timestamptz,
+       '2026-09-02 14:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = '30TH BIRTHDAY GALA - ECONOFOODS' and start_at = '2026-09-02 12:00:00+00'::timestamptz
+);
+
+-- 2026-09-26 12:00 SAST (10:00 UTC) ÔÇö EVENT - TROUE CHANE (5h) | Amonique Fourie
+insert into public.company_calendar_events (title, event_type, location, assigned_to_name, start_at, end_at, all_day, status, notes)
+select 'EVENT - TROUE CHANE', 'client_event', 'TBC', 'Amonique Fourie',
+       '2026-09-26 10:00:00+00'::timestamptz,
+       '2026-09-26 15:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'EVENT - TROUE CHANE' and start_at = '2026-09-26 10:00:00+00'::timestamptz
+);
+
+-- 2026-10-17 09:00 SAST (07:00 UTC) ÔÇö WEDDING - LANE (8h)
+insert into public.company_calendar_events (title, event_type, location, start_at, end_at, all_day, status, notes)
+select 'WEDDING - LANE', 'client_event', 'ORANJE GASTEPLAAS',
+       '2026-10-17 07:00:00+00'::timestamptz,
+       '2026-10-17 15:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'WEDDING - LANE' and start_at = '2026-10-17 07:00:00+00'::timestamptz
+);
+
+-- 2026-11-27 10:00 SAST (08:00 UTC) ÔÇö GOLF DAY - WISEMAN GROUP (4h)
+insert into public.company_calendar_events (title, event_type, client_name, location, start_at, end_at, all_day, status, notes)
+select 'GOLF DAY - WISEMAN GROUP', 'client_event', 'WISEMAN GROUP', 'BLOEM BAAN',
+       '2026-11-27 08:00:00+00'::timestamptz,
+       '2026-11-27 12:00:00+00'::timestamptz,
+       false, 'planned',
+       'Screenshot-derived from Teams Calendar. Verify time/duration.'
+where not exists (
+  select 1 from public.company_calendar_events
+  where title = 'GOLF DAY - WISEMAN GROUP' and start_at = '2026-11-27 08:00:00+00'::timestamptz
+);
 
 
 -- ÔöÇÔöÇ Seed summary ÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇÔöÇ
--- Total events in this file:            27 (Monday series, active)
--- Monday CG Internal meetings:          27 (2026-06-29 to 2026-12-28)
--- One-off screenshot-derived events:     0 active (commented placeholder above)
--- SQL applied live:                      NO ÔÇö review in Supabase SQL editor first
+-- Total events in this file:            57
+-- Monday CG Internal meetings:          27 (2026-06-29 to 2026-12-28, SAST 09:00ÔÇô10:00)
+-- One-off screenshot-derived events:    30 (active INSERTs, source: Teams Calendar)
+-- SQL applied live:                     NO ÔÇö review in Supabase SQL editor first
 -- ============================================================
