@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0a1412;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
